<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"
      integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js"
      integrity="sha512-r6rDA7W6ZeQhvl8S7yRVQUKVHdexq+GAlNkNNqVC7YyIV+NwqCTJe2hDWCiffTyRNOeGEzRRJ9ifvRm/HCzGYg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>

  <body>
    <div class="container">
      <header><%- include('../partials/header'); %></header>
      <!-- <div id="reader" style="width: 300px; height: 300px"></div> -->

      <div class="dashboard">
        <canvas id="dashboard-chart"></canvas>

        <div class="action">
          <div>Time until sober:</div>
          <div>
            <button class="btn add">+ Add</button>
          </div>
        </div>
      </div>

      <div class="f-info">
        <div>1</div>

        <div>2</div>
      </div>

      <p class="mt-5 text-center text-muted">
        The BAC calculations provided by this app are approximate and may vary among individuals; use the information
        responsibly and consult professional advice if needed.
      </p>
    </div>

    <script src="/scripts/chart.js"></script>
    <script src="/scripts/utils.js"></script>

    <script>
      // Get all the database entries from the route and parse them
      // A bit tricky with the JSON parse and stringify, but it works
      const dataEntries = JSON.parse('<%- JSON.stringify(entries) %>');
      const user = JSON.parse('<%- JSON.stringify(user) %>');

      // Get the datasets and plot the chart
      const data = generateDatasets(user, dataEntries);
      let chart = createChart('dashboard-chart', data);
    </script>
  </body>
</html>
