body {
  background-color: #f2f2f2;
}

.navbar-brand {
  color: rgba(99, 132, 255, 1) !important;
}

.navbar {
  background-color: #1a1a1a;
  margin-bottom: 32px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav-item a {
  color: white;

  transition: all ease-in-out 100ms;
}

.nav-item a:hover {
  color: rgba(99, 132, 255, 0.8);
  font-weight: bold;
}
.dashboard {
  padding: 16px;
  background-color: #1a1a1a;
  border-radius: 16px;

  color: white;
  margin-bottom: 16px;
}

.dashboard .panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard .panel div {
  flex: 1;
  text-align: center;
}

.current-bac {
  font-size: 1.5em;
  font-weight: bold;
}

.current-bac span.danger {
  background-color: rgba(255, 99, 132, 1);
}

.current-bac span {
  display: inline-block;
  background-color: #61ff61;
  padding: 8px;
  border-radius: 16px;
  color: #1a1a1a;
}

.dashboard .add {
  color: #1a1a1a;
  background-color: rgba(99, 132, 255, 1);
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
}

.panels {
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 16px;
}

.panels > div {
  flex: 1;
  background-color: #1a1a1a;
  border-radius: 16px;
  height: 275px;
}

.modal-content {
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 16px;
}

.modal-content .close {
  color: rgba(99, 132, 255, 1);
  opacity: 0.9;
  text-shadow: none;
}

.modal-title {
  font-weight: bold;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}
.btn-primary {
  color: #1a1a1a;
  background-color: rgba(99, 132, 255, 1);
  font-weight: bold;
}
.btn-primary:hover {
  /* overwrite bootstraps hover */
  color: #1a1a1a;
  background-color: rgba(99, 132, 255, 1);
}

.modal .add-btn {
  width: 100%;
}
.modal .scan-btn {
  width: 100%;
  font-weight: bold;
}

.form-control {
  text-align: center;
}

.scan-body {
  display: flex;
  justify-content: center;
}

.panel {
  padding: 16px;
}
.panel h1 {
  font-weight: bold;
}

.entries-panel {
  overflow-y: scroll;
}

.summaries > div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  font-size: 20px;
  margin-bottom: 12px;
  font-style: italic;
}

.summaries .time {
  color: rgba(99, 132, 255, 1);
  font-weight: bold;
  font-style: normal;
}

.card {
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 16px;
}

.card-header h4 {
  font-weight: bold;
  text-align: center;
  color: rgba(99, 132, 255, 1);
  font-size: 2em;
}
.message {
  color: rgba(255, 99, 132, 1);
  text-align: center;
}
